.navbar {
    background-color: #094eae;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: rgb(136, 243, 238);
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #094eae;
    width: 200px; 
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(0, 48, 45);
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  